<div class="jumbo">
  <div class="right tomster">
    <h2>About Super Rentals</h2>
    <p>
      We take your stuff and we rent them out to people ad make some money with it.
    </p>
    {{#link-to 'contact' class="button"}}Get Started{{/link-to}}
  </div>
</div>
