<div class="jumbo">
  <div class="right tomster">
    <h2>About Super Rentals</h2>
    <p>
        We are located in Miami, FL <br> Our Representatives would love to help you out on you needs
      <address>
        14305 NE 35th Ave <br>
        Miami, FL 33001
      </address>
    </p>
    {{#link-to 'about' class="button"}}About{{/link-to}}
  </div>
</div>
